[Unit]
Description=Clipboard Sync Server
After=multi-user.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=csync serve -b "0.0.0.0:7703" -p "test password 123"

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
